* {
  box-sizing: border-box;
}

body {
  height: 80vh;
  margin: 0;
  display: flex;
  
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  width: calc(33.33% - 10px);
  flex-direction: column;
  text-transform: lowercase;
  font-family: 'Abril Fatface', cursive;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  height: 600px;
  width: 600px;

}

.grid-wrapper {
  height: 80vh; /* viewpoint height -> equals to 70% of of what your screen px is */
  display: flex;
  justify-content: center;
  align-items: center;

}

.grid div {
  border: 1px solid lightgrey; /* temp color */
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.grid div.kiki {
  background-image: url('../assets/13197F01-4369-41C9-94BB-486A447CE79B.GIF');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

button {
  padding: 10px 40px 10px 40px;
  text-transform: lowercase;
  font-family: 'Abril Fatface', cursive;
  font-size: 18px;
}

.grid div.eagle { /* <<< THESE MOVE TO THE LEFT <<< */
  background-image: url('../assets/eagle.png');
  background-position: center;
  background-size: contain;
}
.grid div.plane { /* >>> THESE MOVE TO THE RIGHT >>> */
  background-image: url('../assets/plane.png');
  background-position: center;
  background-size: contain;
}