* {
  box-sizing: border-box;
}

body {
  height: 80vh;
  margin: 0;
  background-color:rgb(55, 72, 129);
}

header {
  padding-top: 50px;
  padding-left: 50px;
  display: flex;
  justify-content: flex-start;

}

header h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 110px;
  font-size: 50px;
  color: white;
  letter-spacing: 3px;
}

header img {
  width: 220px;
  padding: 10px;
}

main {
  display: flex;
}

aside {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* margin-top: 50px; */
  width: calc(33.33% - 10px);
  flex-direction: column;
  text-transform: lowercase;
  font-family: 'Press Start 2P', cursive;
  color: white;
  letter-spacing: 3px;
  font-size: 10px;
  /* border: 2px solid white; */
  
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  height: 600px;
  width: 600px;
  background-image: url('../assets/2151256.png');
  background-position: center;
  background-size: cover;
  
  
}

.grid-wrapper {
  height: 80vh; /* viewpoint height -> equals to 70% of of what your screen px is */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.grid div {
  /* border: 1px solid lightgrey; temp color */
  flex-grow: 1;
  height: 10%;
  width: 10%;
  font-size: 0px;
}

.grid div.kiki {
  background-image: url('../assets/13197F01-4369-41C9-94BB-486A447CE79B.GIF');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

button {
  padding: 7px 40px 7px 40px;
  letter-spacing: 5px;
  text-transform: lowercase;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  border: none;
  background-color: rgb(201, 34, 34);
  border-radius: 5px;
}

.grid div.eagle { /* <<< THESE MOVE TO THE LEFT <<< */
  background-image: url('../assets/eagle.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.grid div.plane { /* >>> THESE MOVE TO THE RIGHT >>> */
  background-image: url('../assets/plane.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

div.lives {
  display: flex;
  justify-content: space-between;
}
div #one.heart {
  background-image: url('../assets/breadpixel.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  
}
div #two.heart {
  background-image: url('../assets/breadpixel.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin-right: 5px;
}
div #three.heart {
  background-image: url('../assets/breadpixel.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

div #broke.heart {
  background-image: url('../assets/brokenbread (1).png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.modalWin {
  display: none; /* hidden by default */
  position: fixed; 
  padding-top: 50px;
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative; 
  background-color: white;
  padding: 20px; 
  margin: auto; 
  width: 75%;  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s

}

.close-btn {
  float: right; 
  color: lightgray; 
  font-size: 24px;  
  font-weight: bold;

}

/* .play-again-btn {

} */

.modalLose {
  display: none; /* hidden by default */
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: teal;
}


@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}