* {
  box-sizing: border-box;
}

body {
  height: 80vh;
  margin: 0;
  background-color:rgb(55, 72, 129);
}

header {
  padding-top: 50px;
  padding-left: 120px;
  display: flex;
  justify-content: flex-start;

}

header h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 120px;
  font-size: 50px;
  color: white;
  letter-spacing: 3px;
}

header img {
  width: 220px;
}

main {
  display: flex;
}

aside {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* margin-top: 50px; */
  width: calc(33.33% - 10px);
  flex-direction: column;
  text-transform: lowercase;
  font-family: 'Abril Fatface', cursive;
  color: white;
  letter-spacing: 3px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  height: 600px;
  width: 600px;

}

.grid-wrapper {
  height: 80vh; /* viewpoint height -> equals to 70% of of what your screen px is */
  display: flex;
  justify-content: center;
  align-items: center;

}

.grid div {
  border: 1px solid lightgrey; /* temp color */
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.grid div.kiki {
  background-image: url('../assets/13197F01-4369-41C9-94BB-486A447CE79B.GIF');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

button {
  padding: 7px 40px 7px 40px;
  letter-spacing: 5px;
  text-transform: lowercase;
  color: white;
  font-family: 'Abril Fatface', cursive;
  font-size: 20px;
  border: none;
  background-color: rgb(201, 34, 34);
  border-radius: 5px;
}

.grid div.eagle { /* <<< THESE MOVE TO THE LEFT <<< */
  background-image: url('../assets/eagle.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.grid div.plane { /* >>> THESE MOVE TO THE RIGHT >>> */
  background-image: url('../assets/plane.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}